
<div id="product-story" class="reversed-videos">
	{{>header}}
	
	<div id="page-background">
		<video id="video-bg-forward" class="fullscreen-video selected">
			<source src="assets/video/shield_home_animation4.mp4" type='video/mp4' />
			<source src="assets/video/shield_home_animation4.webm" type='video/webm' />
			Video not supported.
		</video>
		<video id="video-bg-backward" class="fullscreen-video">
			<source src="assets/video/shield_home_animation4_reversed.mp4" type='video/mp4' />
			<source src="assets/video/shield_home_animation4_reversed.webm" type='video/webm' />
			Video not supported.
		</video>
	</div>
	{{>story-nav}}
	{{>story-content}}
</div>