<section id="story-ultimate" class="module animation-module">
	<div class="content-text show">
		<h1>THE ULTIMATE TABLET FOR GAMERS</h1>
		<p>Go anywhere and game anything with the wireless freedom and unmatched power of SHIELD Tablet.</p>
	</div>
</section>
<section id="story-portable" class="module animation-module">
	<div class="content-text">
		<h2>PORTABLE, YET POWERFUL</h2>
		<p>Harnes the speed of the NVIDIA Tegra K1 processor, then unleash it with 4G LTE</p>
		<span>192 CORES</span>
		<span>KEPLER GPU</span>
		<span>4G LTE</span>
	</div>
</section>
<section id="story-loaded" class="module animation-module">
	<div class="content-text">
		<h2>FULLY LOADED</h2>
		<p>Game the stunning HD display, blast the dual front-facing speakers, and paint your masterpiece.</p>
		<span>8" HD DISPLAY</span>
		<span>FRONT-FACING SPEAKERS</span>
		<span>DIRECTSTYLUS 2</span>
	</div>
</section>
<section id="story-stage" class="module animation-module">
	<div class="content-text">
		<h2>GAMING TAKES CENTER STAGE</h2>
		<p>Get NVIDIA exclusive next generation Android titles and stream them directly to Twitch with ShadowPlay.</p>
		<span>SHIELD HUB</span>
		<span>INTEGRATED TWITCH STREAMING</span>
	</div>
</section>
<section id="story-conquer" class="module animation-module">
	<div class="content-text">
		<h2>KICK BACK AND CONQUER</h2>
		<p>Transform your tablet with SHIELD controller and the cover that doubles as a kickstand. Or put it in console mode, and hook it up to your TV.</p>
	</div>
</section>
<section id="story-unleashed" class="module animation-module">
	<div class="content-text">
		<h2>GAMING UNLEASHED</h2>
		<p>Stream AAA titles on GRID or game directly from your GeForce GTX PC with NVIDIA GameStream.</p>
		<span>GRID</span>
		<span>GAMESTREAM</span>
	</div>
</section>
<section id="story-shows" class="module animation-module">
	<div class="content-text">
		<h2>TAKE YOUR SHOWS ON THE ROAD</h2>
		<p>Watch all your favorite movies and TV anywhere you go with your favorite entertainment apps including Hulu Plus, Netflix and more.</p>
		<span>NETFLIX</span>
		<span>HULU PLUS</span>
		<span>GOOGLE PLAY</span>
	</div>
</section>
<section id="story-purchase" class="module animation-module">
	<div class="content-text">
		<h3>16GB <span>WI-FI</span></h3>
		<h4>$299</h4>
		<h3>32GB <span>WI-FI</span></h3>
		<h4>$399</h4>
	</div>
</section>