<nav id="story-nav">
	<a href="#" id="main-nav-1" data-index="0" class="selected"><span>.</span><p>INTRO</p></a>
	<a href="#" id="main-nav-2" data-index="1"><span>.</span><p>PERFORMANCE</p></a>
	<a href="#" id="main-nav-3" data-index="2"><span>.</span><p>DESIGN</p></a>
	<a href="#" id="main-nav-4" data-index="3"><span>.</span><p>ANDROID GAMES</p></a>
	<a href="#" id="main-nav-5" data-index="4"><span>.</span><p>CONTROLLER</p></a>
	<a href="#" id="main-nav-6" data-index="5"><span>.</span><p>PC GAMES</p></a>
	<a href="#" id="main-nav-7" data-index="6"><span>.</span><p>ENTERTAINMENT</p></a>
	<a href="#" id="main-nav-8" data-index="7"><span>.</span><p>PURCHASE</p></a>
</nav>