<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../assets/stylesheets/all.css">
    </head>
    <body>
        {{> body }}
        <script src="../assets/javascripts/all.js"></script>
    </body>
</html>